body,
body *,
body.rtl,
button,
input,
select,
textarea,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
keygen,
blockquote cite,
blockquote small,
table th,
table caption,
table td,
pre {
	font-family: sahel, yekan, tahoma, verdana, arial, helvetica, sans-serif;
}

.rtl .quicktags-toolbar input,
.rtl .wp-switch-editor,
.wp-caption,
.gallery .gallery-caption,
#wpadminbar,
#wpadminbar *,
.rtl #wpadminbar *,
#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input,
.wpview-error p,
.no-font-face #wpadminbar #wp-admin-bar-menu-toggle span.ab-icon:before,
#plugin-information-title.with-banner h2,
#template textarea,
.ie8 input[type=password],
body.rtl .press-this a.wp-switch-editor,
table.diff td,
table.diff th,
.rtl h1,
.rtl h2,
.rtl h3,
.rtl h4,
.rtl h5,
.rtl h6,
.media-frame,
.media-frame input[type=tel],
.media-frame input[type=text],
.media-frame input[type=password],
.media-frame input[type=number],
.media-frame input[type=search],
.media-frame input[type=email],
.media-frame input[type=url],
.media-frame select,
.media-frame textarea,
.media-frame .search,
.rtl .media-frame,
.rtl .media-frame input[type=tel],
.rtl .media-frame input[type=text],
.rtl .media-frame input[type=password],
.rtl .media-frame input[type=number],
.rtl .media-frame input[type=search],
.rtl .media-frame input[type=email],
.rtl .media-frame input[type=url],
.rtl .media-frame select,
.rtl .media-frame textarea,
.rtl .media-frame .search,
.media-modal,
.rtl .media-modal {
	font-family: sahel, yekan, tahoma, verdana, arial, helvetica, sans-serif;
}

.wp-editor-area,
.rtl .wp-editor-area {
	font-family: sahel, yekan, tahoma, verdana, arial, helvetica, sans-serif !important;
}

#author-email,
#email,
#timezone_string,
#edit-slug-box {
	direction: ltr;
}
